.pfw-faq-title{
    font-size:18px;
    font-weight: 700;
    text-align: center;
}

.pfw-faq-icon{
    cursor: pointer;
    position: relative;
    transition: .4s;
}

.pfw-faq-icon::before{
    content: "";
    position: absolute;
    right: 25px;
    top: 50%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 12px;
    height: 12px;
    border-top: solid 2px #999;
    border-right: solid 2px #999;
    transform: translateY(-50%) rotate(135deg);
}

.pfw-open .pfw-faq-icon::before{
    transform: translateY(-50%) rotate(315deg);
}

.pfw-faq-item {
    border-bottom: 1px solid #ddd;
}

.pfw-faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding: 12px 0;
} 

.pfw-faq-question{
    font-size: 20px;
    font-weight: 500;
}

.pfw-faq-answer{
    font-size: 16px;
    font-weight: 400;
}

.pfw-faq-content{
    overflow: hidden;
    height: 0;
    transition: .4s;
}
