.pfw-tab-faq-sorting {
    display: flex;
}
.pfw-tab-content-inner {
    padding: 1em;
}
.pfw-tab-content-header h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
.pfw-tab-content-header p {
    margin-top: 0;
    padding: 0;
    margin-bottom: 5px;
}
.pfw-faq-metabox-wrapper #pfw_product_select {
    width: 250px;
}
.pfw-faq-metabox-wrapper label {
    font-weight: 600;
    margin-right: 20px;
}
.pfw-faq-select{
    min-width: 300px;
    max-width: 100%;
}
.pfw-tab-faq-list-wrapper {
    margin-top: 20px;
}
.pfq-tab-faq-title {
    margin: 0;
}
.pfw-tab-faq-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
#woocommerce-product-data ul.wc-tabs li.product_faq_woocommerce_tab a:before {
    content: "\f223";
}
#pfw_product_data .pfw-product-loader {
    position: absolute;
    width: 80%;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}
#pfw_product_data .pfw-product-loader-overlay {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(240, 248, 255, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.pfw-show-loader{
    display: block !important;
}
tr.pfw-faq-metabox-row th {
    width: 200px;
    text-align: left;
}
table.pfw-faq-metabox-table {
    width: 100%;
}
#pfw_faq_products{
    /* max-width: 100%; */
    min-width: 300px;
}
.pfw-faq-metabox-table p {
    margin-top: 5px;
}